@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.wall {
    background: linear-gradient(145deg, #0b1d46, #3f5c8b);
    border: 2px solid #2b478a;
    box-shadow:
        inset 0 0 5px #1e3a8a,
        0 0 10px #000000;
}

.path {
    background-color: black;
    /* No border for the path */
}

.pellet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pellet-glow 4s infinite;
}

@keyframes pellet-glow {
    0%,
    100% {
        box-shadow: 0 0 2px yellow;
    }

    50% {
        box-shadow: 0 0 12px yellow;
    }
}

.pacman-A {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(6% 6% at 60% 25%, #000 90%, #0000),
        radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #f00;
    clip-path: polygon(
        10% 10%,
        80% 10%,
        90% 25%,
        50% 50%,
        90% 75%,
        90% 90%,
        10% 90%
    );
}

.pacman-B {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(6% 6% at 60% 25%, #000 90%, #0000),
        radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #00ff87;
    clip-path: polygon(
        10% 10%,
        80% 10%,
        90% 25%,
        50% 50%,
        90% 75%,
        90% 90%,
        10% 90%
    );
}

@keyframes pacman-chomp {
    0% {
        clip-path: polygon(100% 0%, 100% 100%, 50% 50%);
    }

    50% {
        clip-path: polygon(100% 25%, 100% 75%, 50% 50%);
    }

    100% {
        clip-path: polygon(100% 0%, 100% 100%, 50% 50%);
    }
}

.crystal::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    background-color: yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pellet-glow 1.5s infinite;
}
